<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de cuenta</title>
</head>
<body>
<h1>Confirmación de cuenta</h1>
<p>Tu cuenta ha sido confirmada.</p>
</body>
</html>
