<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de contraseña</title>
  <style>
    body {
      font-family: sans-serif;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #121B5B;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 5px;
      height: 1.5rem;
    }

    button {
      background-color: #121B5B;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: .5rem 2rem;
      margin: 1rem 0;
    }

    button:hover {
      background-color: #0D1440;
    }

    label {
      margin-bottom: 0.5rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 30rem;
      overflow: hidden;
    }

    .main-container {
      margin: 1rem;
      display: flex;
      justify-content: center;
    }

    .item-form-container {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
  </style>
  <style>
    body {
      font-family: sans-serif;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #121B5B;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 5px;
      height: 1.5rem;
    }

    button {
      background-color: #121B5B;
      border: none;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: .5rem 2rem;
      margin: 1rem 0;
    }

    button:hover {
      background-color: #0D1440;
    }

    label {
      margin-bottom: 0.5rem;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 30rem;
      overflow: hidden;
    }

    .main-container {
      margin: 1rem;
      display: flex;
      justify-content: center;
    }

    .item-form-container {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
    }
  </style>
</head>
<body>
<div class="main-container">
  <div>
    <h1>Recuperación de contraseña</h1>
    <div>
      <form class="container" id="passwordRecoveryForm">
        <div class="item-form-container">
          <label for="new-password">Nueva contraseña</label>
          <input id="new-password" name="new-password" type="password" placeholder="Nueva contraseña" required>
        </div>
        <div class="item-form-container">
          <label for="confirm-new-password">Confirmar nueva contraseña</label>
          <input id="confirm-new-password" name="confirm-new-password" type="password"
                 placeholder="Confirmar nueva contraseña" required>
        </div>
        <div id="error-message" style="color: red;"></div>
        <button type="button" onclick="submitForm()" id="btn-submit" disabled>Enviar</button>
      </form>
    </div>
  </div>

  <script>
    function submitForm() {
      const newPassword = document.getElementById("new-password").value;
      const confirmNewPassword = document.getElementById("confirm-new-password").value;

      if (newPassword === "" || confirmNewPassword === "") {
        document.getElementById("error-message").innerText = "Por favor, complete ambos campos.";
        return;
      }

      if (newPassword !== confirmNewPassword) {
        document.getElementById("error-message").innerText = "Las contraseñas no coinciden.";
        return;
      }

      document.getElementById("error-message").innerText = "";

      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get("token");

      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/v1/auth/recover-password", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.setRequestHeader("Authorization", "Bearer " + token);

      const data = {
        password: newPassword
      };

      xhr.onreadystatechange = function() {
        console.log("readyState: " + xhr.readyState);
        if (xhr.readyState === 4) {
          console.log("status: " + xhr.status);
          if (xhr.status === 200) {
            console.log("Password recovered successfully");
            window.location.href = "/api/v1/auth/success-recover-password";
          } else if (xhr.status === 400) {
            let jsonResponse = JSON.parse(xhr.responseText);
            document.getElementById("error-message").innerText = jsonResponse.message;
          }
          else {
            document.getElementById("error-message").innerText = "Ha ocurrido un error. Por favor, intente nuevamente.";
          }
        }
      };

      xhr.send(JSON.stringify(data));
    }

    document.getElementById("new-password").addEventListener("input", checkFields);
    document.getElementById("confirm-new-password").addEventListener("input", checkFields);

    function checkFields() {
      const newPassword = document.getElementById("new-password").value;
      const confirmNewPassword = document.getElementById("confirm-new-password").value;
      const errorMessage = document.getElementById("error-message");

      if (newPassword === "" || confirmNewPassword === "") {
        document.getElementById("btn-submit").disabled = true;
        errorMessage.innerText = "Por favor, complete ambos campos.";
        return;
      }

      if (newPassword !== confirmNewPassword) {
        document.getElementById("btn-submit").disabled = true;
        errorMessage.innerText = "Las contraseñas no coinciden.";
        return;
      }

      errorMessage.innerText = "";

      document.getElementById("btn-submit").disabled = false;
    }
  </script>
</div>
</body>
</html>
