<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contraseña recuperada</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <style>
    body {
      font-family: sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .content {
      text-align: center;
    }

    h1 {
      color: #121B5B;
    }

    p {
      color: #333;
    }

    .icon {
      font-size: 4rem;
      color: #4CAF50; /* Green color */
      margin-bottom: 1rem;
    }
  </style>
</head>
<body>
<div class="content">
  <div class="icon"><i class="fas fa-check-circle"></i></div>
  <h1>Contraseña recuperada</h1>
  <p>Tu contraseña ha sido recuperada.</p>
</div>
</body>
</html>
