<p>Hola {{ name }},</p>
<p>Por favor, para recuperar tu contraseña, haz clic en el siguiente enlace:
  <a href="{{ url }}">{{ url }}</a>
</p>

<p>Si no has solicitado la recuperación de tu contraseña, por favor, ignora este correo.</p>
